[run]
omit =
    SoWeChat_django/__init__.py
    SoWeChat_django/asgi.py
    SoWeChat_django/wsgi.py
    manage.py
    conversations/__init__.py
    conversations/admin.py
    conversations/apps.py
    conversations/forms.py
    conversations/models.py
    conversations/tests.py
    conversations/urls.py
    conversations/utils.py
    SoWeChat_django/urls.py 
    conversations/views.py